<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ .Site.Title }} | {{ .Title }}</title>
  <meta property="og:title" content="{{ .Site.Title }} | {{ .Title }}" />
  <meta property="og:image" content="{{ .Site.Params.profileImage | absURL }}" />
  <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{else}}{{ .Description }}{{ end }}">
  <meta property="og:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{else}}{{ .Description }}{{ end }}" />
  <meta name="author" content="{{ .Site.Params.firstName }} {{ .Site.Params.lastName }}">
  <!-- Bootstrap core CSS -->
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"></noscript>
  <!-- Custom fonts for this template -->
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap"></noscript>
  <link rel="preload" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"></noscript>
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/css/devicons.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/css/devicons.min.css"></noscript>
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"></noscript>
  <!-- Custom styles for this template -->
  <link rel="preload" href="{{ "css/resume.css" | absURL }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ "css/resume.css" | absURL }}"></noscript>
  <link rel="preload" href="{{ "css/tweaks.css" | absURL }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ "css/tweaks.css" | absURL }}"></noscript>
  <link rel="preload" href="{{ "css/resume-override.css" | absURL }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ "css/resume-override.css" | absURL }}"></noscript>
  <script>
    /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
    /* This file is meant as a standalone workflow for
    - testing support for link[rel=preload]
    - enabling async CSS loading in browsers that do not support rel=preload
    - applying rel preload css once loaded, whether supported or not.
    */
    (function( w ){
      "use strict";
      // rel=preload support test
      if( !w.loadCSS ){
        w.loadCSS = function(){};
      }
      // define on the loadCSS obj
      var rp = loadCSS.relpreload = {};
      // rel=preload feature support test
      // runs once and returns a function for compat purposes
      rp.support = (function(){
        var ret;
        try {
          ret = w.document.createElement( "link" ).relList.supports( "preload" );
        } catch (e) {
          ret = false;
        }
        return function(){
          return ret;
        };
      })();

      // if preload isn't supported, get an asynchronous load by using a non-matching media attribute
      // then change that media back to its intended value on load
      rp.bindMediaToggle = function( link ){
        // remember existing media attr for ultimate state, or default to 'all'
        var finalMedia = link.media || "all";

        function enableStylesheet(){
          link.media = finalMedia;
        }

        // bind load handlers to enable media
        if( link.addEventListener ){
          link.addEventListener( "load", enableStylesheet );
        } else if( link.attachEvent ){
          link.attachEvent( "onload", enableStylesheet );
        }

        // Set rel and non-applicable media type to start an async request
        // note: timeout allows this to happen async to let rendering continue in IE
        setTimeout(function(){
          link.rel = "stylesheet";
          link.media = "only x";
        });
        // also enable media after 3 seconds,
        // which will catch very old browsers (android 2.x, old firefox) that don't support onload on link
        setTimeout( enableStylesheet, 3000 );
      };

      // loop through link elements in DOM
      rp.poly = function(){
        // double check this to prevent external calls from running
        if( rp.support() ){
          return;
        }
        var links = w.document.getElementsByTagName( "link" );
        for( var i = 0; i < links.length; i++ ){
          var link = links[ i ];
          // qualify links to those with rel=preload and as=style attrs
          if( link.rel === "preload" && link.getAttribute( "as" ) === "style" && !link.getAttribute( "data-loadcss" ) ){
            // prevent rerunning on link
            link.setAttribute( "data-loadcss", true );
            // bind listeners to toggle media back
            rp.bindMediaToggle( link );
          }
        }
      };

      // if unsupported, run the polyfill
      if( !rp.support() ){
        // run once at least
        rp.poly();

        // rerun poly on an interval until onload
        var run = w.setInterval( rp.poly, 500 );
        if( w.addEventListener ){
          w.addEventListener( "load", function(){
            rp.poly();
            w.clearInterval( run );
          } );
        } else if( w.attachEvent ){
          w.attachEvent( "onload", function(){
            rp.poly();
            w.clearInterval( run );
          } );
        }
      }


      // commonjs
      if( typeof exports !== "undefined" ){
        exports.loadCSS = loadCSS;
      }
      else {
        w.loadCSS = loadCSS;
      }
    }( typeof global !== "undefined" ? global : this ) );
  </script>
  {{ hugo.Generator }}
  {{ block "headfiles" . }}
   <!-- pl;aceholder -->
  {{ end }}
</head>
<body id="page-top">
  {{ partial "nav.html" . }}
  <div class="container-fluid p-0">
    {{ block "main" . }}
      {{ .Content }}
    {{ end }}

    <span style="color: #999999; font-size: 60%;">Nifty <a href="https://codepen.io/wbeeftink/pen/dIaDH">tech tag lists</a> from <a class="pen-owner-link" href="https://codepen.io/wbeeftink">Wouter Beeftink</a> </span>
    {{ with $.GitInfo }}{{ with $.Site.Params.gitCommitPrefix }} | <span style="color: #999999; font-size: 60%;">Page content generated from commit: <a href="{{ . }}/{{ $.GitInfo.AbbreviatedHash }}" title="log: {{ $.GitInfo.Subject }}">{{ $.GitInfo.AbbreviatedHash }}</a>{{ end }}{{end}}
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <!-- Custom scripts for this template -->
  <script async src="/js/resume.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.google.analytics.trackerID }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ .Site.Params.google.analytics.trackerID }}');
  </script>
  {{ block "footerfiles" . }}

  {{ end }}
</body>
</html>
